.ticket::after{
    content: ' *';
    position: absolute;
    color: red;
}

.project-name::after{
    content: ' *';
    position: absolute;
    color: red;
}

.task-name::after{
    content: ' *';
    position: absolute;
    color: red;
}

.time::after{
    content: '*';
    position: absolute;
    color: red;
}